.bar {
	padding: 10px;
	text-align: center;
}
.logo {
	width : 20%;
	display : block;
	margin :auto;
}
ul.data-ctrl {
	list-style: outside none none;
	margin: 0 auto;
	max-width: 500px;
	padding-left: 0;
	text-align: center;
	text-decoration: none;
}
input.search {
	border: 2px solid #1fa67a;
	font-size: 16px;
	height: 35px;
	text-align: center;
	width: 450px;
}
.data-ctrl li {
	background-color: #1fa67a;
	border-radius: 3px;
	color: #ffffff;
	font-size: 17px;
	height: 25px;
	padding: 0;
}
table {
	visibility: hidden;
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#results tr:nth-child(even) {
    background-color: #eee;
}
table#results tr:nth-child(odd) {
   background-color: #fff;
}
table#results td:nth-child(even) {
    background-color: #eee;
}
table#results td:nth-child(odd) {
   background-color: #fff;
}
table#results th {
    background-color: black;
    color: white;
}